.about-us {
  @include text(17px,20px,bold);
  padding-top: 34px;
  background-color: #ffffff;
}

.about-us__wrapper {
  width: 260px;
  margin: 0 auto;
}

.about-us__title {
  @include zero-spacing;
  @include text(25px,30px,bold);
}

.about-us__list {
  @include zero-spacing;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    width: 670px;
  }

  .about-us__info {
    display: flex;
  }
}


@media (min-width: $desktop-width) {
  .about-us__wrapper {
    width: 1050px;
    padding-left: 175px;
    box-sizing: border-box;
  }
}
