.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  @include zero-spacing;

  list-style: none;
}

.catalog__item {
  margin-top: 30px;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__info {
  padding: 18px 27px 26px 28px;
}

.catalog__product-title {
  @include zero-spacing;
  padding-bottom: 3px;

  @include text(17px,24px,bold);
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__buy {
  &:hover {
    path {
      fill: #6dd4bf;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    path {
      fill: #d0f1ea;
    }
  }
}

.catalog__product-feature {
  @include text(13px,30px);
  color: #444444;
}

.catalog__product-price {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  justify-content: space-between;

  @include text(15px,24px,bold);
  border-top: 1px solid #ececec;
}

.catalog__price-icon {
  path {
    fill: #d3d2d2;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 26px;
  }

  .catalog__wrapper {
    width: 670px;
  }

  .catalog__item {
    display: flex;
    justify-content: space-between;
    height: 334px;
    margin-top: 53px;
  }

  .catalog__product-image {
    width: 334px;
    height: 334px;
  }

  .catalog__info {
    width: 273px;
    padding: 25px 33px 29px 0;
  }

  .catalog__product-title {
    padding-bottom: 8px;

    font-size: 20px;
  }

  .catalog__product-feature {
    font-size: 15px;
  }

  .catalog__product-price {
    margin-top: 173px;

    font-size: 18px;
  }

  .catalog__info--big-basket {
    h3 {
      width: 200px;
    }

    span {
      &:last-child {
        margin-top: 148px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 131px;
  }

  .catalog__wrapper {
    width: 1050px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    display: block;
    width: 316px;
    height: inherit;
    margin: 0;
  }

  .catalog__product-image {
    width: 316px;
    height: 462px;
  }

  .catalog__info {
    width: 257px;
    padding: 18px 56px 0 27px;
  }

  .catalog__info--big-basket {
    padding: 18px 56px 24px 27px;

    h3 {
      width: 240px;
    }

    span {
      &:last-child {
        margin-top: 13px;
        padding-top: 23px;
      }
    }
  }

  .catalog__product-feature {
    display: block;
    margin-top: -3px;
  }

  .catalog__product-price {
    margin-top: 37px;
    padding-top: 23px;
  }
}
