.catalog-main__title {
  padding: 76px 0 74px 0;
  background-color: #f1f1f1;
  text-align: center;

  h1 {
    @include zero-spacing;
    @include text(27px,30px,bold);
  }
}

@media (min-width: $tablet-width) {
  .catalog-main {
    margin-top: -40px;
    border-top: 1px solid #ececec;
  }

  .catalog-main__title {
    padding-top: 105px;
    padding-bottom: 78px;

    h1 {
      @include text(43px,50px,bold);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__title {
    padding-top: 94px;
    padding-bottom: 99px;
    h1 {
      @include text(53px,57px,bold);
    }
  }
}
