.catalog-main__title {
  padding: 70px 0 75px 0;

  text-align: center;

  background-color: #f1f1f1;

  h1 {
    @include zero-spacing;

    @include text(27px,30px,bold);
  }
}

.catalog-main__background {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    margin-top: -40px;

    border-top: 1px solid #ececec;
  }

  .catalog-main__background {
    position: absolute;
    top: 296px;

    display: block;
    width: 100%;
  }

  .catalog-main__title {
    padding-top: 96px;
    padding-bottom: 78px;

    h1 {
      @include text(43px,50px,bold);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__title {
    padding-top: 94px;
    padding-bottom: 99px;

    h1 {
      @include text(53px,57px,bold);
    }
  }

  .catalog-main__background {
    top: 325px;
  }
}
