.contacts {
  @include text(15px,30px);
  color: #444444;
  background-color: #ffffff;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-top: 45px;
}

.contacts__title {
  @include zero-spacing;
  @include text(18px,30px,bold);
  color: #000000;
  padding-bottom: 40px;
}

.contacts__address {
  display: flex;
  width: 320px;
  justify-content: flex-start;
  padding-top: 45px;
}

.contacts__value {
  margin-left: 20px;
  width: 195px;
  a {
    color: #444444;
    border-bottom: 1px solid #56c3b2;
    padding-bottom: 5px;
  }
}

.contacts__map {
  margin-top: 42px;
  iframe {
    width: 100%;
  }
}

.contacts__write-us {
  display: inline-block;
  vertical-align: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
  cursor: pointer;
  padding: 11px;
  text-align: center;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    width: 670px;
    padding-top: 60px;
  }

  .contacts__title {
    @include text(43px,50px,bold);
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;
  }

  .contacts__address {
    padding: 0;
  }

  .contacts__map {
    iframe {
      width: 100%;
    }
  }

  .contacts__write-us {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 100px;
  }

  .contacts__wrapper {
    flex-direction: row;
    width: 1050px;
    justify-content: space-between;
    padding-left: 175px;
    box-sizing: border-box;
    padding-top: 70px;
  }

  .contacts__title {
    @include text(53px,57px,bold);
    padding-bottom: 60px;
  }

  .contacts__info {
    @include text(17px,30px);
  }

  .contacts__email {
    margin-bottom: 40px;
  }

  .contacts__value {
    width: 225px;
  }

  .contacts__map {
    margin: 0;
    iframe {
      width: 525px;
      height: 457px;
    }
  }

  .contacts__info {
    display: block;
    width: 300px;
  }

  .contacts__text {
    margin-top: 60px;
  }

  .contacts__write-us {
    position: absolute;
    bottom: 15px;
  }
}
