.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;

  @include text(15px,30px);
  color: #444444;

  background-color: #ffffff;
}

.contacts__wrapper {
  position: relative;

  padding-top: 40px;
}

.contacts__title {
  @include zero-spacing;
  padding-bottom: 26px;

  @include text(18px,30px,bold);
  color: #000000;
}

.contacts__text {
  width: 260px;
  margin: 0 auto;
}

.contacts__icon {
  display: none;
}

.contacts__address {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  padding-top: 30px;

  span {
    &:last-child {
      margin-left: 32px;
    }
  }
}

.contacts__value {
  width: 192px;
  margin-left: 26px;

  a {
    border-bottom: 2px solid #56c3b2;
    padding-bottom: 5px;

    color: #444444;
  }
}

.contacts__map {
  margin-top: 37px;

  iframe {
    width: 100%;
  }
}

.contacts__write-us {
  width: 260px;
  margin: 0 auto;
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 58px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 58px;
  }

  .contacts__title {
    position: relative;

    padding-bottom: 47px;

    @include text(43px,50px,bold);
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;

    @include text(17px,30px);
  }

  .contacts__text {
    width: 670px;
  }

  .contacts__icon {
    position: absolute;
    top: -15px;
    right: 4px;

    display: block;
  }

  .contacts__address {
    width: 336px;
    padding: 0;

    span {
      &:last-child {
        margin-left: 27px;
      }
    }
  }

  .contacts__value {
    width: 230px;
    margin-left: 21px;
  }

  .contacts__map {
    margin-top: 58px;

    iframe {
      width: 100%;
    }
  }

  .contacts__write-us {
    width: 230px;
    margin-top: 44px;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-bottom: 96px;
  }

  .contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    padding-top: 149px;
    padding-left: 175px;
    box-sizing: border-box;
  }

  .contacts__title {
    padding-bottom: 48px;

    @include text(53px,57px,bold);
  }

  .contacts__icon {
    left: -110px;
    top: -9px;
  }

  .contacts__info {
    display: block;
    width: 300px;

    @include text(17px,30px);
  }

  .contacts__email {
    margin-bottom: 31px;
  }

  .contacts__value {
    width: 225px;
  }

  .contacts__map {
    margin-top: -10px;

    iframe {
      width: 525px;
      height: 457px;
    }
  }

  .contacts__text {
    margin-top: 60px;
  }

  .contacts__write-us {
    position: absolute;
    bottom: 8px;
    left: 178px;
  }
}
