.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright__text {
  @include text(19px,18px,bold);
}

.copyright__link {
  display: flex;

  font-size: 0;

  svg {
    fill: #63d1bb;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: 0;
  }
}
