.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright__text {
  @include text(19px,18px,bold);
}

.copyright__link {
  display: flex;

  font-size: 0;

  svg {
    fill: #63d1bb;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    path {
      fill: #46c1ae;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    path {
      fill: #d0f1ea;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: 0;
  }
}
