.page-header {
  @include text(17px,24px,bold);
  color: #000000;
  border-bottom: 2px solid #ececec;
}

.page-header__logo {
  height: 79px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 17px;
}

.page-header__delivery {
  @include text(15px,24px);
  color: gray;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 89px;
    width: 330px;
    text-align: left;
    border-right: 1px solid #ececec;
  }

  .page-header__delivery {
    display: block;
    order: 2;
    margin-bottom: -24px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    text-align: center;
  }
}
