.main__title {
  padding-top: 69px;
  padding-bottom: 77px;

  text-align: center;

  background-color: #f1f1f1;

  h1 {
    @include zero-spacing;
    @include text(27px,30px,bold);
  }
}

.main__background {
  display: none;
}

@media (min-width: $tablet-width) {
  .main {
    margin-top: -40px;
    border-top: 1px solid #ececec;
  }

  .main__title {
    padding-top: 93px;
    padding-bottom: 90px;

    h1 {
      @include text(43px,50px,bold);
    }
  }

  .main__background {
    position: absolute;
    top: 297px;

    display: block;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main__title {
    padding-top: 91px;
    padding-bottom: 105px;

    h1 {
      @include text(53px,57px,bold);
    }
  }

  .main__background {
    top: 326px;
  }
}
