.news-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    @include text(15px,24px,bold);
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -24px;
    order: 2;
  }
}
