.offers {
  margin: 0 auto;
  padding-top: 120px;
}

.offers__item {
  padding: 30px 185px 30px 28px;
  list-style: none;

  &--interior-items {
    background-color: #63d1bb;
  }

  &--home-toys {
    background-color: #56c3b2;
  }

  a {
    @include text(19px,24px,bold);
    color: #ffffff;
  }
}

.offers__list {
  @include zero-spacing;
}

@media (min-width: $tablet-width) {
  .offers {
    padding-top: 371px;
  }

  .offers__wrapper {
    width: 670px;
    margin: 0 auto;
  }

  .offers__list {
    display: flex;
  }

  .offers__item {
    flex-grow: 1;

    a {
      display: inline-block;
      width: 111px;
    }
  }
}

@media (min-width: $desktop-width) {
  .offers__wrapper {
    width: 1050px;
  }
}
