.offers {
  margin-top: 120px;
}

.offers__item {
  padding: 30px 0;
  list-style: none;

  &--interior-items {
    background-color: #63d1bb;
  }

  &--home-toys {
    background-color: #56c3b2;
  }

  a {
    color: #ffffff;
    @include text(19px,24px,bold);
  }
}

.offers__list {
  @include zero-spacing;
}
