.offers {
  margin: 0 auto;
  padding-top: 104px;
}

.offers__background {
  display: none;
  z-index: 50;
}

.offers__item {
  list-style: none;

  &--interior-items {
    background-color: #63d1bb;

    a {
      padding: 24px 63px 16px 55px;
    }
  }

  &--home-toys {
    background-color: #56c3b2;

    a {
      padding: 24px 54px 20px 56px;
    }
  }

  a {
    display: flex;
    justify-content: space-between;

    @include text(19px,24px,bold);
    color: #ffffff;
  }

  span {
    display: block;
    width: 110px;
  }

  path {
    fill: #3bb09d;
  }
}

.offers__list {
  @include zero-spacing;
}

@media (min-width: $tablet-width) {
  .offers {
    position: relative;

    padding-top: 344px;
  }

  .offers__background {
    position: absolute;
    bottom: -18px;

    display: block;
    width: 100%;
  }

  .offers__wrapper {
    width: 670px;
    margin: 0 auto;
  }

  .offers__list {
    display: flex;
  }

  .offers__item {
    width: 334px;

    a {
      @include text(20px,30px,bold);
    }

    &--interior-items {
      a {
        padding: 30px 36px 27px 36px;
      }
    }

    &--home-toys {
      a {
        padding: 31px 33px 27px 36px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .offers__wrapper {
    width: 1050px;
    padding-top: 60px;
  }

  .offers {
    padding-top: 265px;
  }

  .offers__item {
    width: 525px;

    &:hover {
      transform: translateY(-5px);
      transition: all 0.3s;

      path {
        fill: #29a592;
      }
    }

    &:active {
      transform: translateY(-5px);
      transition: all 0.3s;

      a {
        color: rgba(255, 255, 255, 0.3);
      }

      path {
        fill: #44c0aa;
      }
    }
  }

  .offers__background {
    bottom: -15px;
  }
}
