.order {
  @include text(13px,24px);
  color: #444444;
  background-color: #ffffff;
}

.order-form__list {
  @include zero-spacing;
  list-style: none;
}

.order__wrapper {
  width: 260px;
  margin: 0 auto;

  fieldset {
    @include zero-spacing;
  }
}

.order__description {
  @include zero-spacing;
  margin-top: 21px;
}

.order__notice {
  @include text(14px,16px);
  display: block;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: 100%;
  }

  .order__description {
    @include text(17px,30px);
    @include zero-spacing;
    width: 670px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 50px;
  }

  .order__notice {
    @include text(17px,30px);
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .order__description {
    margin-top: 121px;
    width: 700px;
  }
}
