.order {
  @include text(13px,24px);
  color: #444444;
  background-color: #ffffff;
}

.order__wrapper {
  width: 260px;
  margin: 0 auto;
  fieldset {
    @include zero-spacing;
  }
}

.order__notice {
  @include text(14px,16px);
  display: block;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: 670px;
  }
}
