.page-main {
  padding-top: 76px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.page-main__title {
  width: 272px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 350px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    padding-top: 120px;
  }

  .page-main__title {
    @include text(53px,50px,bold);
    width: 620px;
  }
}
