.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__container {
  display: flex;
  width: 260px;

  border-top: 2px solid #ececec;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 670px;
  }

  .page-footer__container {
    width: initial;
    border: none;
  }

  .page-footer__logo {
    display: block;

    &:hover {
      path {
        fill: #6dd4bf;
      }
    }

    &:active {
      path {
        fill: #d0f1ea;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
