.reviews {
  @include text(15px,30px);
  background-color: #ffffff;
}

.reviews__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  @include zero-spacing;
  padding-top: 34px;
  line-height: 25px;
}

.reviews__item {
  @include zero-spacing;
}

.reviews__text {
  color: #444444;
}

.reviews__author-name {
  @include text (17px,30px,bold);
}

.reviews__author-email {
  @include text(17px,24px);
  display: block;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 670px;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;
  }

  .reviews__toogles {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 1050px;
    padding-left: 175px;
    box-sizing: border-box;
  }
}
