.reviews {
  position: relative;

  padding-bottom: 45px;

  @include text(15px,30px);

  background-color: #ffffff;
}

.reviews__background {
  position: absolute;

  display: block;
  width: 100%;
  height: auto;
  bottom: -5px;
}

.reviews__wrapper {
  position: relative;

  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  @include zero-spacing;
  padding-top: 55px;
  padding-bottom: 9px;

  @include text(25px,30px,bold);

}

.reviews__item {
  @include zero-spacing;
}

.reviews__text {
  margin-bottom: 25px;

  color: #444444;
}

.reviews__author-name {
  @include text (17px,24px,bold);
}

.reviews__author-email {
  display: block;

  @include text(17px,30px);
  color: #444444;
}

.reviews__toggles {
  display: flex;
  margin-bottom: 37px;
  margin-top: 28px;

  border: 1px solid #ececec;
}

.reviews__prev,
.reviews__next {
  padding: 12px 42px 9px 38px;

  background-color: #ffffff;
  border: none;
}

.reviews__next {
  border-left: 1px solid #ececec;
}

.reviews__write {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 77px;
    padding-bottom: 134px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__background {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: block;
  }

  .reviews__wrapper {
    width: 670px;
  }

  .reviews__title {
    padding-top: 0;

    @include text(43px,50px,bold);
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__list {
    width: 650px;
    margin-top: 40px;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;

    width: 175px;
  }

  .reviews__author-name {
    display: inline-block;
    margin-top: 32px;

    font-size: 18px;
  }

  .reviews__toggles {
    position: absolute;
    right: -21px;
    bottom: -37px;
    border: none;
  }

  .reviews__prev,
  .reviews__next {
    padding: 13px 40px 13px 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 0;

    background: none;
    background-color: #ffffff;
  }

  .reviews__wrapper {
    width: 1050px;
    padding-top: 71px;
    padding-left: 175px;
    padding-bottom: 67px;
    box-sizing: border-box;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    @include text(53px,57px,bold);
  }

  .reviews__list {
    width: 780px;
    margin-bottom: 50px;
  }

  .reviews__text {
    margin: 0;
  }

  .reviews__author-name {
    margin-top: 38px;
  }

  .reviews__toggles {
    bottom: 80px;
    right: -24px;
  }

  .reviews__write {
    top: 79px;
  }

  .reviews__background {
    bottom: -68px;
  }
}
