.site-list {
  @include zero-spacing;

  list-style: none;
}

.site-list__item {
  text-align: left;

  border-top: 1px solid #ececec;

  a {
    display: inline-block;
    padding: 27px 24%;

    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    order: 1;

    display: flex;
    justify-content: space-between;
    width: 305px;
  }

  .site-list__item {
    border: none;

    a {
      @include text(15px,24px,bold);
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: -1;

    width: 375px;
    margin: 0;
    margin-bottom: 13px;
  }

  .site-list__item {
    display: flex;

    a {
      margin-top: 31px;

      @include text(17px,24px,bold);
    }

    &--catalog {
      width: 185px;

      border-right: 1px solid #ececec;
    }
  }
}
