.site-list {
  @include zero-spacing;
  list-style: none;
}

.site-list__item {
  text-align: left;
  border-top: 1px solid #ececec;

  a {
    color: #000000;
    display: inline-block;
    padding: 27px 24%;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    order: 1;
    display: flex;
    width: 320px;
    justify-content: space-between;
  }

  .site-list__item {
    border: none;

    a {
      @include text(15px,24px,bold);
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: -1;
    margin: 0;
    width: 380px;
    margin-bottom: 13px;
  }

  .site-list__item {
    display: flex;

    a {
      @include text(17px,24px,bold);
      margin-top: 24px;
    }

    &--catalog {
      width: 185px;
      border-right: 1px solid #ececec;
    }
  }
}
