.social__list {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 141px;

  @include zero-spacing;
  padding-top: 25px;
  padding-bottom: 11px;

  list-style: none;
}

.social__link {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    padding-bottom: 36px;
    padding-top: 33px;
    padding-left: 77px;
  }

  .social__list {
    width: 140px;
  }
}
