.social__list {
  @include zero-spacing;
  display: flex;
  list-style: none;
  min-height: 80px;
  align-items: center;
  width: 141px;
  justify-content: space-between;
}

.social__link {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    padding-bottom: 24px;
    padding-top: 41px;
    padding-left: 77px;
  }

  .social__list {
    width: 140px;
  }
}
