.special-offer {
  @include text(15px,20px);
  background-color: #ffffff;
}

.special-offer__wrapper {
  position: relative;
  width: 265px;
  margin: 0 auto;
  box-sizing: border-box;
}

.special-offer__title {
  @include zero-spacing;
  @include text(25px,30px,bold);
  padding-top: 34px;
  padding-bottom: 10px;
}

.special-offer__subtitle {
  @include text(17px,20px,bold);
  color: #63d1bb;
  text-transform: uppercase;
}

.special-offer__description {
  @include zero-spacing;
  line-height: 24px;
  color: #444444;
  margin-top: 20px;
  margin-bottom: 50px;
}

.special-offer__options {
  color: #444444;
  margin-bottom: 42px;
}

.special-offer__line {
  display: block;
  width: 260px;
  border-bottom: 1px solid #c7c7c7;
  padding-top: 13px;
  padding-bottom: 13px;
  &:first-child {
    padding-top: 0;
  }
}

.special-offer__property {
  padding-right: 30px;
  width: 90px;
}

.special-offer__price {
  @include text(17px,24px,bold);
  display: block;
  margin-top: 29px;
  text-align: center;
}

.special-offer__order {
  margin-top: 28px;
  margin-bottom: 36px;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .special-offer__wrapper {
    width: 670px;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .special-offer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .special-offer__title {
    @include zero-spacing;
    @include text(43px,50px,bold);
  }

  .special-offer__subtitle {
    @include text(17px,17px,bold);
    width: 70px;
    text-align: center;
  }

  .special-offer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }

  .special-offer__info-text {
    width: 260px;
  }

  .special-offer__description {
    @include zero-spacing;
    @include text(17px,30px);
    width: 300px;
    padding-bottom: 50px;
  }

  .special-offer__price-order {
    position: absolute;
    bottom: 14px;
  }

  .special-offer__price {
    font-size: 20px;
  }

  .special-offer__picture {
    width: 333px;
    height: 404px;
  }

  .special-offer__line {
    width: 290px;
  }

  .special-offer__order {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .special-offer__wrapper {
    width: 1050px;
    padding-top: 18px;
    padding-left: 175px;
    padding-bottom: 71px;
  }

  .special-offer__header {
    width: 650px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    left: 48px;
    top: 128px;
  }

  .special-offer__title {
    @include text(53px,57px,bold);
  }

  .special-offer__info-text {
    padding-top: 165px;
  }

  .special-offer__description {
    @include text(17px,30px);
    width: 300px;
  }

  .special-offer__picture {
    width: 525px;
    height: 636px;
  }

  .special-offer__price-order {
    bottom: 36px;
  }

  .special-offer__price {
    font-size: 20px;
  }

  .special-offer__order {
    width: 292px;
  }
}
