.special-offer {
  @include text(15px,20px);
  background-color: #ffffff;
}

.special-offer__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
}

.special-offer__title {
  @include zero-spacing;
  @include text(25px,30px,bold);
}

.special-offer__subtitle {
  @include text(17px,20px,bold);
  color: #63d1bb;
  text-transform: uppercase;
}

.special-offer__description {
  line-height: 24px;
  color: #444444;
}

.special-offer__options {
  color: #444444;
}

.special-offer__price {
  @include text(17px,24px,bold);
  display: block;
}

.special-offer__description {
  @include zero-spacing;
}

@media (min-width: $tablet-width) {
  .special-offer__wrapper {
    width: 670px;
  }

  .special-offer__subtitle {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
  }

  .special-offer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }

  .special-offer__info-text {
    width: 260px;
  }

  .special-offer__price-order {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .special-offer__wrapper {
    width: 1050px;
    padding-left: 175px;
  }

  .special-offer__title {
    @include text(53px,57px,bold);
    position: absolute;
  }

  .special-offer__subtitle {
    left: 0;
  }

  .special-offer__picture {
    width: 525px;
    height: 636px;
  }
}
