.to-basket--active {
  display: block;
}

.to-basket--hidden {
  display: none;
}

.to-basket {
  position: fixed;
  z-index: 100;
  bottom: 120px;
  left: 30%;

  border-bottom: 1px solid #c7c7c7;

  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
}

.to-basket__wrapper {
  width: 260px;
  margin: 0 auto;

  text-align: center;
}

.to-basket__title {
  width: 150px;

  @include zero-spacing;
  margin: 0 auto;
  margin-top: 36px;

  @include text(25px,30px,bold);
  text-transform: uppercase;

  border-bottom: 1px solid #c7c7c7;
}

.to-basket__subtitle {
  display: block;
  margin-top: 24px;
  margin-bottom: 28px;

  @include text(15px,30px);
  color: #444444;
}

.to-basket__list {
  display: flex;
  justify-content: space-between;

  @include zero-spacing;

  list-style: none;
}

.to-basket__item {
  width: 82px;

  @include zero-spacing;
  padding: 20px 37px;
  box-sizing: border-box;

  @include text(17px,16px,bold);

  border: 2px solid #ececec;
}

.to-basket__add {
  margin-top: 31px;
  margin-bottom: 46px;

  @include text(17px,16px,bold);
  display: block;
  width: 260px;
  padding: 20px 20px 16px 20px;
  box-sizing: border-box;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .to-basket {
    width: 566px;
    margin: 0 auto;

    border: 1px solid #c7c7c7;
  }

  .to-basket__wrapper {
    width: 360px;
  }

  .to-basket__title {
    width: inherit;
    margin-top: 51px;

    @include text(30px,57px,bold);
  }

  .to-basket__subtitle {
    margin-top: 30px;
    margin-bottom: 26px;

    @include text(17px,30px);
  }

  .to-basket__list {
    width: 350px;
  }

  .to-basket__item {
    width: 112px;
  }

  .to-basket__add {
    width: 350px;
  }
}
