@media (min-width: $tablet-width) {
  .user-list {
    order: 0;
    display: flex;
    width: 370px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    margin: 0;
    width: 360px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 360px;
  }
}
